.kms-navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.login-form {
  margin: 300px auto;
  width: 600px;
  padding: 20px;
  background-color: #fff;
}

.login-container {
  background: linear-gradient(-135deg, #094630, #4158d0);
  position: fixed;
  height: 100vh;
  width: 100%;
}

.login-container .logo img {
  height: 1000px;
  width: 1000px;
}
